
<html>
<head>
    <title>Inventory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>So bored you want to become an inventory item:</h1>

            <p><a href="/inventory">Click here</a> to see all of your shit.</p>
        </div>
    </div>
</body>
</html>
